*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(50, 245, 245);
}

header{
    width: 100%;
    height: 5px;
    margin:auto;
}
header nav{
    background: black;
    overflow: hidden;
}
header nav ul{
    list-style: none;
}

header nav ul li{
}

header nav ul li a{
    border-radius: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    float: right;
    color:white;
    text-decoration: none;
}

header nav ul li a:hover{
    background: white;
    color: black;
}


.titulo{
    margin-top: 100px;
    font-size: 50px;
    color: blue;
}

.texto{
    font-size: 15px;
    color: rgb(73, 73, 167);
}